{{- $ref := .Get 0 | default (.Get "ref") -}}
{{- $version := .Get "version" | default site.Params.bible.defaultVersion | default "KJV" -}}
{{- $baseURL := site.Params.bible.passageBaseURL | default "https://www.biblegateway.com/passage/" -}}
{{- $href := printf "%s?search=%s&version=%s" $baseURL ($ref | urlquery) ($version | urlquery) -}}
<figure class="bible-quote" data-bible-ref="{{ $ref }}" data-bible-version="{{ $version }}">
  <blockquote>
    {{ .Inner | markdownify }}
  </blockquote>
  <figcaption>
    <cite><a class="bible-ref" href="{{ $href }}" target="_blank" rel="noopener noreferrer" title="Open Bible passage in a new window" data-bible-ref="{{ $ref }}" data-bible-version="{{ $version }}">{{ $ref }}</a></cite>
    <span>{{ $version }}</span>
  </figcaption>
</figure>
